<%- include('header.ejs', {selected:"home"}) %>
<section class="text-center">
    <br><br><br><br><br>
    <div  style="font-family: monospace, sans-serif;">
        <h2>Welcome to SkillMastery!</h2>
        <br>
        <h4 class="mx-auto col-lg-6">Whether you're an educator, corporate trainer, or a budding tutor, SkillMastery offers:</h4>
    </div>  
    <br><br><br><br><br><br><br><br><br><br><br><br>
<%- include('sec.ejs', {side:"r", bgcolor:"#91b9fa", title:"AI Bot", description:"Your personalized assistant for developing top-notch training capabilities. Designed specifically for instructors, this AI bot provides tailored guidance, resources, and feedback to help you excel in your teaching role. Whether you're a novice or an experienced trainer, our AI bot ensures you stay ahead with the latest educational strategies and techniques. Unlock your potential with our AI bot and transform your teaching journey today!", imgSrc:"bot.png", imgAlt:"Bot"}) %>
<%- include('sec.ejs', {side:"l", bgcolor:"#91fac0", title:"Get Certified", description:"Earning a teaching certification from SkillMastery validates your instructional expertise and commitment to educational excellence. Our certification programs are designed for educators, corporate trainers, and tutors aiming to enhance their teaching abilities and career prospects", imgSrc:"cert.png", imgAlt:"Getting Certified"}) %>
<%- include('sec.ejs', {side:"r", bgcolor:"#fabe91", title:"Community", description:"Join our vibrant community of educators, trainers, and tutors to share knowledge, insights, and best practices. Our community platform offers a space for collaboration, networking, and professional development. Connect with like-minded professionals, participate in engaging discussions, and stay updated on the latest trends in education and training.", imgSrc:"community.png", imgAlt:"Community"}) %>
<%- include('sec.ejs', {side:"l", bgcolor:"#91fabe", title:"Resources", description:"Access a wealth of resources, tools, and materials to enhance your teaching skills and expertise. Our resource library includes lesson plans, worksheets, quizzes, and other educational materials to support your teaching endeavors. Whether you're looking for classroom activities, training guides, or professional development resources, SkillMastery has you covered.", imgSrc:"resourses.png", imgAlt:"Resources"}) %>
<%- include('sec.ejs', {side:"r", bgcolor:"#fabe91", title:"Professional Development", description:"Advance your teaching career with our professional development programs tailored to educators, trainers, and tutors. Our PD programs cover a wide range of topics, including instructional design, classroom management, assessment strategies, and more. Stay updated on the latest trends in education and training, and enhance your teaching skills with SkillMastery.", imgSrc:"professional.png", imgAlt:"Professional Development"}) %>
<%- include('bot.ejs') %>
<%- include('footer.ejs') %>

</section>